#result-1{
    border: none;
    border-radius: 10px;
    background: #D1ECF1;
}
#result-2{
    margin-bottom: 10px;
    min-height: 20px;
    width: 100%;
    background: #F8D7D4;
    border-radius: 5px;
}
#result-3{
    margin-bottom: 10px;
    min-height: 20px;
    width: 100%;
    background: #D4EDDA;
    border-radius: 5px;
}
#result-4{
    border: 20px solid black;
}
#result-5{
    margin-bottom: 10px;
    min-height: 20px;
    width: 100%;
    background: #D4EDDA;
    border-radius: 5px;
}